*{
  margin: 0;
  padding: 0;

}
html {
  scroll-behavior: smooth;
}

body{
  height: 100vh;
  background: #161513;
  color: #fff;
  font-family: 'outfit';
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 1px;
  
  
}

.nav-menu{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 20px;
}

.nav-connect{
  padding: 12px 25px;
  border-radius: 50px;
  font-size: 22px;
  cursor: pointer;
  background: linear-gradient(267deg,#DA7C25 ,#B923E1);
  transition: 0.5s;
}
.nav-connect:hover{
  transform: scale(1.05);
}
.logo{
  width: 70px;
  

}

